In [1]:
# Import All The Important Libraries
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
# Load The Dataset And Save it Into Variable
df = pd.read_csv("player_stats.csv", encoding='ISO-8859-1')
df

,player,country,height,weight,age,club,ball_control,dribbling,marking,slide_tackle,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value
0,Cristian Castro Devenish,Colombia,192,84,22,Atl. Nacional,55,43,NaN,68,...,32,34,41,33,10,11,6,7,9,$1.400.000
1,Silaldo Taffarel,Brazil,181,80,31,Corinthians,69,70,NaN,56,...,65,62,48,46,12,15,14,8,14,$975.00
2,Thomas DÃ¤hne,Germany,193,84,29,Holstein Kiel,25,12,NaN,13,...,20,15,26,16,64,74,65,68,74,$1.100.000
3,Michael Sollbauer,Austria,187,86,33,SK Rapid Wien,46,48,NaN,66,...,25,13,22,19,10,10,8,14,9,$650.00
4,Diego Segovia,Uruguay,191,80,23,Independiente,14,8,NaN,14,...,9,10,16,5,61,59,62,64,64,$300.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677,Mohamed Salah,Egypt,175,71,31,Liverpool,86,88,None,41,...,84,69,86,83,11,14,14,9,14,$99.500.000
5678,Sadio Mané,Senegal,174,69,31,FC Bayern München,86,88,None,38,...,77,64,75,75,7,10,10,15,14,$101.000.000
5679,Neymar Jr,Brazil,175,68,31,Paris SG,94,95,None,29,...,88,87,91,86,15,9,9,15,11,$99.500.000
5680,Cristiano Ronaldo,Portugal,187,83,38,Al Nassr,87,81,None,24,...,79,75,90,85,14,7,11,15,11,$31.000.000
5681,Zlatan Ibrahimovi?,Sweden,195,102,41,Milan,85,75,None,24,...,79,74,80,87,9,13,15,10,12,$10.500.000

In [3]:
# Check for null values in the entire dataset
null_values = df.isnull().sum()

# Display the columns with null values and their counts
columns_with_null = null_values[null_values > 0]
if not columns_with_null.empty:
    print("Columns with null values:")
    print(columns_with_null)
else:
    print("No null values in the dataset.")

Columns with null values:
marking    158
dtype: int64

In [4]:
# Specify the column name with null values
column_to_fill = 'marking'

# Fill null values in the specified column with a value (e.g., 0)
df[column_to_fill].fillna(0, inplace=True)

# Check if there are still any null values in the specified column
null_values_after_fill = df[column_to_fill].isnull().sum()

if null_values_after_fill == 0:
    print(f"Null values in '{column_to_fill}' column filled successfully.")
else:
    print(f"Failed to fill null values in '{column_to_fill}' column.")

Null values in 'marking' column filled successfully.

In [5]:
# Check for null values in the entire dataset
null_values = df.isnull().sum()

# Display the columns with null values and their counts
columns_with_null = null_values[null_values > 0]
if not columns_with_null.empty:
    print("Columns with null values:")
    print(columns_with_null)
else:
    print("No null values in the dataset.")

No null values in the dataset.

In [6]:
# Remove the currency symbol ($) and dots from the 'value' column
df['value'] = df['value'].replace('[\$,]', '', regex=True).replace('\.', '', regex=True).astype(float) / 1e6
df

,player,country,height,weight,age,club,ball_control,dribbling,marking,slide_tackle,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value
0,Cristian Castro Devenish,Colombia,192,84,22,Atl. Nacional,55,43,0,68,...,32,34,41,33,10,11,6,7,9,1.4000
1,Silaldo Taffarel,Brazil,181,80,31,Corinthians,69,70,0,56,...,65,62,48,46,12,15,14,8,14,0.0975
2,Thomas DÃ¤hne,Germany,193,84,29,Holstein Kiel,25,12,0,13,...,20,15,26,16,64,74,65,68,74,1.1000
3,Michael Sollbauer,Austria,187,86,33,SK Rapid Wien,46,48,0,66,...,25,13,22,19,10,10,8,14,9,0.0650
4,Diego Segovia,Uruguay,191,80,23,Independiente,14,8,0,14,...,9,10,16,5,61,59,62,64,64,0.0300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677,Mohamed Salah,Egypt,175,71,31,Liverpool,86,88,None,41,...,84,69,86,83,11,14,14,9,14,99.5000
5678,Sadio Mané,Senegal,174,69,31,FC Bayern München,86,88,None,38,...,77,64,75,75,7,10,10,15,14,101.0000
5679,Neymar Jr,Brazil,175,68,31,Paris SG,94,95,None,29,...,88,87,91,86,15,9,9,15,11,99.5000
5680,Cristiano Ronaldo,Portugal,187,83,38,Al Nassr,87,81,None,24,...,79,75,90,85,14,7,11,15,11,31.0000
5681,Zlatan Ibrahimovi?,Sweden,195,102,41,Milan,85,75,None,24,...,79,74,80,87,9,13,15,10,12,10.5000