In [1]:
# Import All The Important Libraries
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
# Load The Dataset And Save it Into Variable
df = pd.read_csv("player_stats.csv", encoding='ISO-8859-1')
df

,player,country,height,weight,age,club,ball_control,dribbling,marking,slide_tackle,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value
0,Cristian Castro Devenish,Colombia,192,84,22,Atl. Nacional,55,43,NaN,68,...,32,34,41,33,10,11,6,7,9,$1.400.000
1,Silaldo Taffarel,Brazil,181,80,31,Corinthians,69,70,NaN,56,...,65,62,48,46,12,15,14,8,14,$975.00
2,Thomas DÃ¤hne,Germany,193,84,29,Holstein Kiel,25,12,NaN,13,...,20,15,26,16,64,74,65,68,74,$1.100.000
3,Michael Sollbauer,Austria,187,86,33,SK Rapid Wien,46,48,NaN,66,...,25,13,22,19,10,10,8,14,9,$650.00
4,Diego Segovia,Uruguay,191,80,23,Independiente,14,8,NaN,14,...,9,10,16,5,61,59,62,64,64,$300.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677,Mohamed Salah,Egypt,175,71,31,Liverpool,86,88,None,41,...,84,69,86,83,11,14,14,9,14,$99.500.000
5678,Sadio Mané,Senegal,174,69,31,FC Bayern München,86,88,None,38,...,77,64,75,75,7,10,10,15,14,$101.000.000
5679,Neymar Jr,Brazil,175,68,31,Paris SG,94,95,None,29,...,88,87,91,86,15,9,9,15,11,$99.500.000
5680,Cristiano Ronaldo,Portugal,187,83,38,Al Nassr,87,81,None,24,...,79,75,90,85,14,7,11,15,11,$31.000.000
5681,Zlatan Ibrahimovi?,Sweden,195,102,41,Milan,85,75,None,24,...,79,74,80,87,9,13,15,10,12,$10.500.000

In [3]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
le = LabelEncoder()

# Iterate over columns and apply label encoding only to non-numeric columns
for column in df.columns:
    if df[column].dtype == 'object':  # Check if the column is non-numeric
        try:
            # Convert the column to strings before label encoding
            df[column] = le.fit_transform(df[column].astype(str))
        except Exception as e:
            print(f"Error encoding column '{column}': {e}")

In [4]:
# Data Preprocessing: Remove null values and label encode
df.fillna(0, inplace=True)
le = LabelEncoder()

In [5]:
# Label encode columns with 'object' data type
object_columns = df.select_dtypes(include=['object']).columns
for column in object_columns:
    df[column] = le.fit_transform(df[column].astype(str))